In [9]:
import pandas as pd
import numpy as np
import matplotlib
#import cufflinks as cf
#import plotly
#import plotly.offline as py
#import plotly.graph_objs as go

In [5]:
df = pd.read_csv('C:\\Users\\hyi\\Downloads\\2022-09-19-14-59 Chronograf Data.csv')

In [6]:
df

,time,host_id,optimistic_slot.mean_slot
0,2022-09-19T14:54:27.641-05:00,2k31vk7hPiu2T9fJzuunc6tmaE57P7wt6tFoGK5A7k47,NaN
1,2022-09-19T14:54:27.641-05:00,31fxZovs3gBKVVTtC2VJUuKeVoq6mQkLjWnicWhErQ4f,4596948.0
2,2022-09-19T14:54:27.641-05:00,3cVWsRiTXD99BXNhzXs7Gkm3YBhCDrMQWnLern8B7TrD,NaN
3,2022-09-19T14:54:27.641-05:00,7JcmM6TFZMkcDkZe6RKVkGaWwN5dXciGC4fa3RxvqQc9,4596948.0
4,2022-09-19T14:54:27.641-05:00,AYJDiE3wgw5eanU4qJ4qfkB8vrHVEiBMTqXLbA9hUTaW,4596948.0
...,...,...,...
2167,2022-09-19T14:59:28.354-05:00,31fxZovs3gBKVVTtC2VJUuKeVoq6mQkLjWnicWhErQ4f,NaN
2168,2022-09-19T14:59:28.354-05:00,3cVWsRiTXD99BXNhzXs7Gkm3YBhCDrMQWnLern8B7TrD,NaN
2169,2022-09-19T14:59:28.354-05:00,7JcmM6TFZMkcDkZe6RKVkGaWwN5dXciGC4fa3RxvqQc9,NaN
2170,2022-09-19T14:59:28.354-05:00,AYJDiE3wgw5eanU4qJ4qfkB8vrHVEiBMTqXLbA9hUTaW,NaN
2171,2022-09-19T14:59:28.354-05:00,Edfkf9gpC7KpnkNdKRPmseCtkE1zY8fUVRJMbiLYKKdK,NaN

In [20]:
df.iloc[11]

time                                        2022-09-19T14:54:28.474-05:00
host_id                      Edfkf9gpC7KpnkNdKRPmseCtkE1zY8fUVRJMbiLYKKdK
optimistic_slot.mean_slot                                       4596949.5
Name: 11, dtype: object

In [11]:
df.groupby('host_id').max()

,time,optimistic_slot.mean_slot
host_id,,
2k31vk7hPiu2T9fJzuunc6tmaE57P7wt6tFoGK5A7k47,2022-09-19T14:59:28.354-05:00,4597718.0
31fxZovs3gBKVVTtC2VJUuKeVoq6mQkLjWnicWhErQ4f,2022-09-19T14:59:28.354-05:00,4597712.0
3cVWsRiTXD99BXNhzXs7Gkm3YBhCDrMQWnLern8B7TrD,2022-09-19T14:59:28.354-05:00,4597710.0
7JcmM6TFZMkcDkZe6RKVkGaWwN5dXciGC4fa3RxvqQc9,2022-09-19T14:59:28.354-05:00,4597718.0
AYJDiE3wgw5eanU4qJ4qfkB8vrHVEiBMTqXLbA9hUTaW,2022-09-19T14:59:28.354-05:00,4597710.0
Edfkf9gpC7KpnkNdKRPmseCtkE1zY8fUVRJMbiLYKKdK,2022-09-19T14:59:28.354-05:00,4597707.5

In [21]:
df.groupby('host_id').get_group('Edfkf9gpC7KpnkNdKRPmseCtkE1zY8fUVRJMbiLYKKdK').describe()

       optimistic_slot.mean_slot
count               3.510000e+02
mean                4.597328e+06
std                 2.195953e+02
min                 4.596948e+06
25%                 4.597140e+06
50%                 4.597328e+06
75%                 4.597518e+06
max                 4.597708e+06